#
# Secrets/tokens for API access
#
hcloud_token   = "u6VtWcRBzEv1gJHIOQ7gZ9OI1vWDtQlvGj8uLV46l76FeA92YQ317VJEC4ou8JUV"
aws_access_key = "AKIAZMJMH6DA3THRGMQC"
aws_secret_key = "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"

#
# Tunables for servers, naming convention: username-prefix.
# Set AWS Route53 zone name in: dns_zone_name.
# Refer to https://docs.hetzner.cloud/ for suitable values
# SSH private key shouldn't be password protected
#
servers = {
  settings = [
    {
      username    = "username1"
      prefix      = "ansible"
      location    = "fsn1"
      image       = "ubuntu-20.04"
      server_type = "cx11"
    },
    {
      username    = "username2"
      prefix      = "web1"
      location    = "fsn1"
      image       = "ubuntu-20.04"
      server_type = "cx11"
    },
    {
      username    = "username2"
      prefix      = "web2"
      location    = "fsn1"
      image       = "centos-8"
      server_type = "cx11"
    }
  ]
  root_user            = "root"
  default_ssh_key_name = "REBRAIN.SSH.PUB.KEY"
  dns_zone_name        = "devops.rebrain.srwx.net."
  labels = {
    module = "devops",
    email  = "username_at_domain_com"
  }
  ssh_key = {
    name            = "username_key"
    pub_keyfile     = "~/.ssh/id_rsa.pub"
    private_keyfile = "~/.ssh/id_rsa"
  }
}
